{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ profile.brand_name }} | Portfolio</title>
    <link rel="shortcut icon" href="{% static 'img/user.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'lib/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/resposive.css' %}" />
</head>

<body>
    <div class="container-fluid header">
        <div class="container">
            <div class="menu">
                <div class="logo">
                    <img class="logo_mark" src="{% static 'img/samdebug-mark.svg' %}" alt="" aria-hidden="true">
                    <h2>{{ profile.brand_name }}</h2>
                </div>
                <button class="hamburger" type="button" aria-label="Ouvrir le menu" aria-controls="primary-navigation" aria-expanded="false">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                </button>
                <div class="menu_ul" id="primary-navigation">
                    <ul class="nav_ul">
                        <li class="nav_li">
                            <a href="#home" class="nav_link active">Accueil</a>
                        </li>
                        <li class="nav_li">
                            <a href="#about" class="nav_link">A_propos</a>
                        </li>
                        <li class="nav_li">
                            <a href="#services" class="nav_link">Services</a>
                        </li>
                        <li class="nav_li">
                            <a href="#skill" class="nav_link">Compétences</a>
                        </li>
                        <li class="nav_li">
                            <a href="#contact" class="nav_link">Contact</a>
                        </li>
                    </ul>
                    <a class="primary__btn" href="#contact">Me joindre</a>
                </div>
            </div>
        </div>
    </div>
    <!-- header Banner -->
    <div class="container-fluid header_banner" id="home">
        <div class="container banner_content">
            <div class="left_box">
                <span data-aos="slide-left">Bonjour, je suis</span><br><br><br>
                <h2 data-aos="fade-right">{{ profile.title_line_1 }}</h2>
                <h2 data-aos="fade-right">{{ profile.title_line_2 }}</h2>
                <h2 data-aos="fade-right">{{ profile.title_line_3 }}</h2>
                <p data-aos="fade-down">{{ profile.experience }}</p><br><br>
                <a class="primary__btn" href="#contact" data-aos="fade-up">Travaillons!!</a>
            </div>
            <div class="right_box">
                <div class="banner_img" data-aos="fade-left">
                    <img src="{% static 'img/user.png' %}" alt="Portrait de {{ profile.full_name }}">
                </div>
                <ul class="social_icon" data-aos="fade-down">
                    <li class="icon_list">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li class="icon_list">
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="icon_list">
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li class="icon_list">
                        <a href="#">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="icon_list">
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header Banner -->
    <!-- about -->
    <div class="container-fluid about" id="about">
        <div class="container about_content">
            <div class="left_box" data-aos="fade-right">
                <span> A_propos de Moi</span>
                <h3>{{ profile.about_heading }}</h3>
                <div class="about_img">
                    <img src="{% static 'img/user.png' %}" alt="Portrait de {{ profile.full_name }}" />
                </div>
            </div>
            <div class="right_box" data-aos="fade-left">
                <p>{{ profile.bio_first }}</p><br>
                <p class="p">{{ profile.bio_second }}</p><br>
                <h3>Information Personnel</h3><br><br>
                <div class="info_box">
                    <div class="personal_info">
                        <h2>Nom</h2>
                        <p>{{ profile.full_name }}</p><br><br>
                    </div>
                    <div class="personal_info">
                        <h2>Email</h2>
                        <p>{{ profile.email }}</p><br><br>
                    </div>
                    <div class="personal_info">
                        <h2>Téléphone</h2>
                        <p>{{ profile.phone }}</p><br><br>
                    </div>
                    {% if profile.cv_url %}<a class="primary__btn" href="{{ profile.cv_url }}" target="_blank" rel="noopener">Telechargez CV</a>{% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- about -->
    <!-- counter -->
    <div class="container-fluid counter" id="counter">
        <div class="container counter_content" data-aos="fade-up">
            {% for metric in metrics %}
            <div class="box">
                <h2 class="metric_value" data-counter="{{ metric.value }}">{{ metric.value }}</h2>
                <h3>{{ metric.title }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- counter -->
    <!-- services -->
    <div class="container-fluid services" id="services">
        <div class="container services_content">
            <div class="section_title">
                <span>Services</span>
                <h3>Ce que je fais pour mes clients</h3>
            </div>
            <div class="service_boxs">
                {% for service in services %}
                <div class="service_box" data-aos="fade-down">
                    <div class="service_icon">
                        <i class="{{ service.icon_class }}"></i>
                    </div>
                    <div class="service_title">{{ service.title }}</div>
                    <div class="service_disc">
                        <p>{{ service.description|linebreaksbr }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- services -->
    <!-- skill -->
    <div class="container-fluid skill" id="skill">
        <div class="container skill_content">
            <div class="section_title">
                <span>Skills</span>
                <h3>My Skills</h3>
            </div>
            <div class="skill_section">
                <div class="left_box">
                    <div class="skill_img" data-aos="slide-right">
                        <img src="{% static 'img/user.png' %}" alt="Portrait de {{ profile.full_name }}" />
                    </div>
                </div>
                <div class="right_box">
                    <div class="skill_bar">
                        <div class="skill_run " data-aos="slide-left">
                            {% for skill in skills %}
                            <div class="skill_title">
                                <span>{{ skill.name }}</span>
                                <span>{{ skill.level }}%</span>
                            </div>
                            <div class="skill_outer">
                                <div class="skill_inner" style="width: {{ skill.level }}%;"></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- skill -->
    <!-- contact -->
    <div class="container-fluid contact" id="contact">
        <div class="container contact_content">
            <div class="section_title">
                <span>Contact</span>
                <h3>Entrer en contact</h3>
            </div>
            <div class="contact_form">
                {% for message in messages %}<p class="contact_feedback">{{ message }}</p>{% endfor %}
                <form action="{% url 'home' %}#contact" method="post">
                    {% csrf_token %}
                    <div class="input_box" data-aos="slide-left">
                        {{ contact_form.email }}{{ contact_form.email.errors }}
                    </div>
                    <div class="input_box" data-aos="slide-right">
                        {{ contact_form.name }}{{ contact_form.name.errors }}
                    </div>
                    <div class="input_box" data-aos="slide-left">
                        {{ contact_form.phone }}{{ contact_form.phone.errors }}
                    </div>
                    <div class="input_box" data-aos="slide-right">
                        {{ contact_form.message }}{{ contact_form.message.errors }}
                    </div>
                    <div class="input_box">
                        <button class="primary__btn" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- contact -->
    <!-- script -->
    <script src="{% static 'lib/aos/aos.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>